@page "/"
@{
    ViewData["Title"] = "Головна";
}

<table class="data">
    <form method="get" action="decode">
    <tr>
        <td><label for="u">Вкажіть посилання на зображення: </label></td>
        <td><input id="url" name="url" type="text"></td>
        <td><input type="submit"></td>
    </tr>
    </form>
    <form enctype="multipart/form-data" method="post" action="decode">
    <tr>
        <td><label for="f">... або завантажте файл: </label></td>
        <td><input id="file" name="file" type="file" accept="image/*"></td>
        <td><input type="submit"></td>
    </tr>
    </form>
</table>