<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BarCatReader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BarCatReader.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <center>
                <table width="80%">
                    <tr>
                        <td>
                            <center>
                            <img src="~/img/barcat_logo.png" width="70%" />
                            <h1>BarCat Reader</h1>
                            Найкращий засіб для розпізнавання штрих-кодів та штрих-котів!
                            <br />
                            <br />
                            <br />
                            @RenderBody()
                </center>
                        </td>
                    </tr>
            </table>
            </center>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>